@font-face {
    font-family: 'bakery';
    src: url('../fuentes/bakery/bakery.ttf');
}

@font-face {
    font-family: 'celosia-golden-font';
    src: url('../fuentes/celosia-golden-font/CelosiaGolden-7BYR4.ttf');
}

@font-face {
    font-family: 'charlotte';
    src: url('../fuentes/charlotte/');
}

@font-face {
    font-family: 'Julius-Sans-One';
    src: url('../fuentes/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

html {
    font-size: 12px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

