*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: url("./img/fondoTablero.jpg"); 
    background-size: cover;
    color: white;
    font-size: 1.2em;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 

}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'charlotte';
    font-weight:100;
    padding-top: 8vh;
    padding-bottom: 3vh;
    text-align: center;
    text-shadow: 16px 16px 12px black;
}

a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
        
}

a:hover {
    cursor: pointer;
    transform: scale(1.2);
}


a:visited {
    color: white;    
}

li {
    font-size: 1.2em;
    padding: 0.5em;
    transition: all 0.4s;

}

li:hover {
    transform: scale(1.3);
}

h2 {
    padding: 0.5em;
    transition: all 0.4s;
}

h2:hover {
    transform: scale(1.3);
}



