@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');
:root {
    --blue: #00669F;
    --green: #1CD1B0;
    --red: #CC2424;
    --dark-white: #F3F3F3;
    --white: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--blue);
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
    color: var(--white);
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
    z-index: 999;
}

h2 {
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 10px;
    padding-top: 90px;
}

img {
    border-radius: 100%;
    height: 175px;
    left: 25%;
    position: absolute;
    top: 162.5px;
    left: 120px;
    width: 175px;
    z-index: 99;
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 30px;
    text-align: justify;
    line-height: 20px;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 40%;
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 400px;
}

.card-batman {
    background-image: url(../img/bg-batman.jpg);
    background-position-x: -230px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 180%;
    border-radius: 25px 25px 0 0;
    height: 250px;
}

.card-wonder-woman {
    background-image: url(../img/bg-wonderw.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: 180%;
    border-radius: 25px 25px 0 0;
    height: 250px;
}

.card-superman {
    background-image: url(../img/bg-superman.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: 190%;
    border-radius: 25px 25px 0 0;
    height: 250px;
    
}

.discount {
    background-color: var(--green);
    font-size: 24px;
    padding: 0;
    margin: 0;
    padding-left: 30px;
}

.fa-heart {
    color: var(--red);
    font-size: 35px;
    left: 6%;
    position: absolute;
    top: 3%;
}

.fa-plus {
    background-color: var(--blue);
    border-radius: 100%;
    bottom: 25%;
    color: var(--white);
    font-size: 18px;
    padding: 14px;
    position: fixed;
    right: 1%;
}

.info {
    background-color: var(--dark-white);
    position: relative; 
    padding-bottom: 120px;
    
    
}


.textcard{
    font-size: 20.5px;
    text-align: left;
    margin: 10px -15px;

    
}

.boton-batman{
    color: white;
    background-color: var(--blue);
    padding: 20px 60px;
    margin-bottom: 100px;  
    position: absolute;
    left: 99px;
    top: 305px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;

}
.boton-wonder-woman{
    color: white;
    background-color: var(--blue);
    padding: 20px 60px;
    margin-bottom: 100px;  
    position: absolute;
    left: 99px;
    top: 305px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
}
.boton-superman{
    color: white;
    background-color: var(--blue);
    padding: 20px 60px;
    margin-bottom: 100px;  
    position: absolute;
    left: 99px;
    top: 305px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
}

footer{
    background-color:var(--blue);
    color: white;
    margin-top: 70px;
    padding: 15px 0px 5px 0px;
   
}
   
footer p {
    text-align: center;
    justify-content: center;
    align-items: center;

}

