@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');


.login {
    display: block;
    margin: auto;
    margin-top: 126px;
    width: 620px;    
}

main {
    margin-top: 0%;
}

main div h2 {
    font-family: 'Inter', sans-serif;
    font-size: 84px;
    font-weight: 900;
    margin-top: 0%;
    padding-top:0%;
    text-transform: none;
} 

#email {
    margin-top: 55px;
}

input {
    border: solid 1.5px black;
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 60px; 
    margin-bottom:20px;
    padding: 10px;
    text-align: left;
    width: 100%;    
}

input::placeholder {
    color:black;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

#entrar {
    background-color: #1CD1B0;
    border: 0px white solid;
    border-radius: 23.011px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 76px;
    padding-bottom: 55px;
    transition: all 0.4s;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#entrar:hover {
    transform:scale(1.1);
}

.registrate {
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.form-enlace {
    color: black;
    font-size: 22px;
}

footer p {
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    background-color:var(--blue);
    bottom: 0%;
    color: white;    
    margin-top: 400px;
    padding: 15px 0px 5px 0px;
    position: relative;
    width: 100%; 
}